@use 'modules/homepage'

#main
    display: flex
    justify-content: center
    align-items: center
    height: 100vh

    #map
        position: relative

        .cell
            position: absolute